* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Colors */
  --Color-Dark-Cyan: #0e8784;
  --Color-Dark-Grey-Blue: #333d4b;
  --Color-Pale-Orange: #fdd6ba;
  --Color-Light-Cream-BG: #fefcf7;
  --Color-Grey: #83888f;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
